.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;

}


.home-main-section .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.home-main-section .lady-image {
    background-image: url(/img/landing-page-girl.png);
    flex-grow: 1;
    max-height: 70vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
}


@media (max-width: 900px) {
    .home-main-section .img-wrapper {
        display: none;
    }  


    .home-main-section {
        justify-content: center;
    }

}


.home-page-circe-1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    bottom: 5vw;
    left: 5vw;
    background-color: rgba(188, 58, 128, 0.1);
    z-index: -1;
}

.home-page-circe-2 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    left: 30vw;
    background-color: rgba(52, 87, 178, 0.1);
    z-index: -1;
    top: 15vh;
}


.home-page-circe-3 {
    position: absolute;
    width: 45vw;
    height: 45vw;
    overflow: hidden;
    bottom: 0;
    right: 0;
    z-index: -1;
    top: 15vh;
}

.home-page-circe-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(52, 87, 178, 0.1);
}